###Java###

*.class

# Package Files #
*.jar
*.war
*.ear


###Other###
*.sublime-project
*.sublime-workspace

### OSX Files ###
.DS_Store
._*
.Spotlight-V100
.Trashes

### Windows ###
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

### Linux ###
.*
!.gitignore
*~

# KDE
.directory
